h1 {
    color: rgb(116, 197, 170);
    background-color: rgb(126, 86, 86);
    text-align: center;
}

.description {
    background-color: lightsalmon;
    text-align: center;
    font-size: larger;
}

.linkdescription {
    background-color: rgb(0, 200, 94);
}

* {
    font-family: 'Courier New', Courier, monospace;
}

* img {
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

